@model List<Forum.Models.ForumThreadModel>
@{
    ViewBag.Title = "Threads of Section";
}
<html>
     <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/Content/strap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/Content/strap/css/bootstrap-responsive.min.css" rel="stylesheet">
  </head>
    <body>
    @Html.AntiForgeryToken()  
        @using( Html.BeginForm("Index","ForumThread",FormMethod.Get))
        {
            <fieldset style="width:300px;grid-row-sizing:auto">
                        <legend style="border :initial; color:darkolivegreen;text-align:left"> All Threads of Section:@Model[0].ParentId</legend>                                      
            @if (Model[0].Id != Guid.Empty)
            { 
                <table border="1" style="font-size:medium;">
            <tr>
             <td>ThreadId</td>
            <td>Name</td>
            <td>Description</td>
            </tr>
        @foreach (Forum.Models.ForumThreadModel item in Model)
        {
            <tr>
             <td>@Html.Label(item.Id.ToString())</td>
            <td style="font-size:large">
                @Html.ActionLink((item.Title.ToString()!=string.Empty)?item.Title:"NO Title","../ForumPost/Index", new {id=item.Id.ToString()})</td>
           @* @Html.ActionLink("linktext","actionname","routevalue object",
            *@<td>@Html.Label((item.Description!=string.Empty)?item.Description:"No Description")</td>
            </tr>
        }
            </table>
            }
            else { <label style="font-size:x-large">No Threads..</label>}
            </fieldset>
        }
       @* @if(Model.Count!=0)
        {*@
            @using (Html.BeginForm("Index","ForumThread",FormMethod.Post))
        {
    @Html.AntiForgeryToken() 
            @Html.HiddenFor(x=>x[0].Id)
            @Html.HiddenFor(x=>x[0].ParentId)
        Guid threadid = Model[0].Id;
        Guid ParentId = Model[0].ParentId;
        Model.RemoveRange(0, Model.Count);
        Model.Add(new Forum.Models.ForumThreadModel());
        foreach (Forum.Models.ForumThreadModel item in Model)
        {
           // Forum.Models.ForumThreadModel item = new Forum.Models.ForumThreadModel();
            item.ParentId = ParentId;
            //item.Id = threadid;
            item.Description = string.Empty;
            item.Title = string.Empty;
        } @Html.HiddenFor(x=>x[0].ParentId)
            //int i = Model.Count - 1;
            <fieldset style="width: 300px;">
                <legend style="border: initial; color: darkolivegreen; text-align: left;">Add New Thread: Section-@Model[0].ParentId</legend>
               
                <table style="border:thin"><tr><td>
                @Html.Label("Title:") @Html.TextBoxFor(x => x[(0)].Title, new {placeholder="Give Title", style = "width:180px;",@class="form-control"})
                     
                </td><td>
                @Html.Label("Description:")  @Html.TextBoxFor(x => x[(0)].Description, new { placeholder="Write a Description",style = "width:110px;",@class="form-control" })
                </td></tr></table>   
              <button class="btn-info" style="border-color:black">Add a Thread</button>
            </fieldset>
                @*Model[0].Posts.Add(new Forum.Models.ForumPostModel());
                @Html.TextBoxFor(z=>z[0].Posts[0].PostText,new {@class="form-control"})*@
        }
        </body>    
    <script src="/Content/strap/js/jquery.js"></script>
    <script src="/Content/strap/js/bootstrap.min.js"></script>
    </html>